# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments (standard names)
venv/
.venv/
env/
.env/
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage reports
.pytest_cache/
.tox/
.coverage
htmlcov/

# Environments / Secrets
.env
.venv
pip-log.txt

# IDE / Editor specific
.vscode/
.idea/
*.swp
